
<html>
    <head> 
        <title> Form</title>
    </head>
    <body> 
        <form method='post' action="/user/add">
            <input name="name" type="text"/>
            <input name="email" type="email"/>
            <button type="submit">Submit</button>
        </form>
        
    </body>
</html>


