<html>
  <head>
    <title>Index file</title>
  </head>
  <body>
    <div>
      <% users.forEach(user => { %>
      <div>
        <p><%= user.name %></p>
        <p><%= user.email %></p>
      </div>
      <%})%>
    </div>
    <button><a href="/form">ADD USER</a></button>
  </body>
</html>
